/* GENERAL SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  background: #000;
  padding: 10px 30px;
}
header h1 {
  color: red;
  font-size: 50px;
}
header .input {
  padding: 10px;
  margin: 20px 50px;
}
/* MAIN */
body {
  background: grey;
}
.moviesContainer {

}
.moviesContainer .flag {
  width: 30px;
  height: 30px;
}
.moviesContainer i {
  color: dodgerblue;
}
/* TEMPLATE */
.movie {
  margin: 10px;
  padding: 10px;
}
.movie:hover .hidden {
  display: block;
}
.hidden {
  display: none;
}
